﻿@model MI.Model.Domain.Account.UserProfile 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>MI User ID: @Model.MIId</p>
<p>HealthVault Account ID: @Model.AccountRecord.AccountID</p>
<p>HealthVault Record ID: @Model.AccountRecord.RecordID</p>


<p>@Html.ActionLink("Log Out", "LogOut", "Account", null, null)</p>