﻿@model MI.Web.Models.UserProfile.UserProfileViewModel

@{
    ViewBag.Title = "User";
}

<h2>Register User</h2>

@using (Html.BeginForm("ProfileDetailsSave", "Register"))
{
    <h2>Your Details</h2>
    <p>@Html.LabelFor(i => i.UserProfile.Name)</p>
    <p>@Html.TextBoxFor(i => i.UserProfile.Name)</p>
    
    <p>@Html.LabelFor(i => i.UserProfile.Email)</p>
    <p>@Html.TextBoxFor(i => i.UserProfile.Email)</p>

    <h2>Store Health Vault Data</h2>
    <p>HealthVault AccountID: @Model.UserProfile.AccountRecord.AccountID</p>
    <p>Do you wish to store your healthvault details so you do not have to log into HealthVault in order to use this account? @Html.CheckBoxFor(i => i.StoreHealthVault)</p>
    
    <h2>Log In</h2>
    <p>How do you want to log in with this site?</p>
    <p>
        <select>
          <option value="volvo">Google</option>
          <option value="saab">Facebook</option>
          <option value="mercedes">Microsoft Outlook</option>
          <option value="audi">ETC</option>
        </select>
    </p>
    <p><input type="submit" id="btnRegister" /></p>
}
