﻿@model MI.Web.Models.PersonViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(Model.PersonInfo != null)
{
    <p>@Model.PersonInfo.PersonId</p>
    <p>@Model.PersonInfo.Name</p>
   
    try
    {
    <p>@Model.PersonInfo.ApplicationConnection.AuthenticationToken</p>
    }
    catch
    {

    }
    
    <p>@Html.ActionLink("Log Out", "LogOut", "Account", null, null)</p>
}
else
{
   <p>@Html.ActionLink("Log In", "LogIn", "Account", null, null)</p>
}

<p>@Html.ActionLink("Test HV", "Test", "Home", null, null)</p>