﻿@model MI.Web.Models.ViewModels.TestModel

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


@using(Html.BeginForm())
{
    <p>Enter a MI-ID and check if the HealthVault information is stored about the user</p>
    <p>@Html.EditorFor(i => i.Search)</p>
    <input type="submit" title="Search" />
}


@if(@Model.Message != null)
{
    <p>@Model.Message</p>   
}

@if(@Model.PersonInfo != null)
{
    <h2>Search Results</h2>
    
    <p>PersonInfo.PersonID: @Model.PersonInfo.PersonId</p>
    <p>PersonInfo.Name: @Model.PersonInfo.Name</p>
    <p>PersonInfo.SelectedRecord.Id: @Model.PersonInfo.SelectedRecord.Id</p>
}

